include ../mixins/post
include ../mixins/header
include ../mixins/head
include ../utils
  - var viewQuery = query && query.view ? query.view : 'compact'
  - var sortQuery = query && query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot'
doctype html
html
  +head("home")
  include ../mixins/subUtils

  body
    main#content
      +header(user)
      div.hero
        div.sub-title
          h1 
            if isMulti
              a(href=`/?${sortQuery}&${viewQuery}`) lurker
            else
              a(href=`/r/${subreddit}?${sortQuery}&${viewQuery}`)
                | r/#{subreddit}
          if !isMulti
            div#button-container
              if isSubbed
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
              else
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
        if about && !isMulti
          div.about #{about.public_description}
        else 
          div.about 
            | consider donating to&nbsp;
            a(href="https://donate.stripe.com/dR62bTaZH1295Da4gg") oppiliappan
            |, author of lurker
        hr
        details.sort-details
          summary.sorting sorting by #{query.sort + (query.t?' '+query.t:'')}, #{viewQuery} view
          div.sort-opts
            div
              a(href=`/r/${subreddit}?sort=hot&view=${viewQuery}`) hot
            div
              a(href=`/r/${subreddit}?sort=new&view=${viewQuery}`) new
            div
              a(href=`/r/${subreddit}?sort=rising&view=${viewQuery}`) rising
            div
              a(href=`/r/${subreddit}?sort=top&view=${viewQuery}`) top
            div
              a(href=`/r/${subreddit}?sort=top&t=day&view=${viewQuery}`) top day
            div
              a(href=`/r/${subreddit}?sort=top&t=week&view=${viewQuery}`) top week
            div
              a(href=`/r/${subreddit}?sort=top&t=month&view=${viewQuery}`) top month
            div
              a(href=`/r/${subreddit}?sort=top&t=year&view=${viewQuery}`) top year
            div
              a(href=`/r/${subreddit}?sort=top&t=all&view=${viewQuery}`) top all
          div.sort-opts
            div
              a(href=`/r/${subreddit}?sort=${sortQuery}&view=compact`) compact
            div
              a(href=`/r/${subreddit}?sort=${sortQuery}&view=card`) card

      if posts
        each child in posts.posts
          +post(child.data, currentUrl)

        if posts.after
          div.footer
            div.footer-item
              - var newQuery = {...query, after: posts.after}
              a(href=`/r/${subreddit}?${encodeQueryParams(newQuery)}`) next ⟶
