include ../mixins/post
include ../mixins/header
include ../mixins/head
include ../utils
doctype html
html
  +head("home")
  include ../mixins/subUtils

  body
    main#content
      +header(user)
      div.hero
        div.sub-title
          h1 
            if isMulti
              a(href=`/`) lurker
            else
              a(href=`/r/${subreddit}`)
                | r/#{subreddit}
          if !isMulti
            div#button-container
              if isSubbed
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
              else
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
        if about && !isMulti
          div.about #{about.public_description}
        else 
          div.about 
            | consider donating to&nbsp;
            a(href="https://donate.stripe.com/dR62bTaZH1295Da4gg") oppiliappan
            |, author of lurker
        hr
        details
          summary.sorting sorting by #{query.sort + (query.t?' '+query.t:'')}
          div.sort-opts
            div
              a(href=`/r/${subreddit}?sort=hot`) hot
            div
              a(href=`/r/${subreddit}?sort=new`) new
            div
              a(href=`/r/${subreddit}?sort=rising`) rising
            div
              a(href=`/r/${subreddit}?sort=top`) top
            div
              a(href=`/r/${subreddit}?sort=top&t=day`) top day
            div
              a(href=`/r/${subreddit}?sort=top&t=week`) top week
            div
              a(href=`/r/${subreddit}?sort=top&t=month`) top month
            div
              a(href=`/r/${subreddit}?sort=top&t=year`) top year
            div
              a(href=`/r/${subreddit}?sort=top&t=all`) top all

      if posts
        each child in posts.posts
          +post(child.data, currentUrl)

        if posts.after
          div.footer
            div.footer-item
              - var newQuery = {...query, after: posts.after}
              a(href=`/r/${subreddit}?${encodeQueryParams(newQuery)}`) next ⟶
