include ../mixins/post
include ../mixins/header
include ../mixins/head

- var viewQuery = query && query.view ? query.view : 'compact'
- var sortQuery = query && query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot'
doctype html
html
  +head("search posts")
  include ../mixins/subUtils
  body(data-theme=user.themePreference data-classic-layout=user.useClassicLayout)
    main#content
      +header(user)
      div.hero
        h1 search posts
        form(action="/post-search" method="get").search-bar
          - var prefill = original_query ?? "";
          input(type="text" name="q" placeholder="type in a search term..." value=prefill required).search-input
          input(type="hidden" name="sort" value=sortQuery)
          input(type="hidden" name="view" value=viewQuery)
          button(type="submit").search-button go
        if message
          div.search-message
            i #{message}
      if items
        each item in items
          +post(item.data, currentUrl)
