include ../mixins/header
include ../mixins/head

- var viewQuery = query && query.view ? query.view : 'compact'
- var sortQuery = query && query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot'
doctype html
html
  +head("subscriptions")
  include ../mixins/subUtils
  body
    main#content
      +header(user)
      div.hero
        h1 subscriptions
        p
          each s in subs 
            - var subreddit = s.subreddit
            - var isSubbed = true
            div.sub-title
              h4
                a(href=`/r/${subreddit}?sort=${sortQuery}&view=${viewQuery}`) 
                  | r/#{subreddit}
              div#button-container
                if isSubbed
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
                else
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
