mixin header(user)
  - var viewQuery = 'view=' + (query && query.view ? query.view : 'compact')
  - var sortQuery = 'sort=' + (query ? (query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot') : 'hot')
  div.header
    div.header-item
      a(href=`/?${sortQuery}&${viewQuery}`) home
    div.header-item
      a(href=`/r/all?${sortQuery}&${viewQuery}`) all
    div.header-item
      a(href=`/search?${sortQuery}&${viewQuery}`) search
    div.header-item
      a(href=`/subs?${sortQuery}&${viewQuery}`) subs
    if user
      div.header-item
        a(href=`/dashboard?${sortQuery}&${viewQuery}`) #{user.username}
        |&nbsp;
        a(href='/logout') (logout)
    else
      div.header-item
        a(href=`/login`) login

