mixin header(user)
  - var viewQuery = 'view=' + (query && query.view ? query.view : 'compact')
  div.header
    div.header-item
      a(href=`/?${viewQuery}`) home
    div.header-item
      a(href=`/r/all?${viewQuery}`) all
    div.header-item
      a(href=`/r/popular?${viewQuery}`) popular
    div.header-item
      a(href=`/search?${viewQuery}`) search
    div.header-item
      a(href=`/subs?${viewQuery}`) subs
    if user
      div.header-item
        a(href=`/dashboard?${viewQuery}`) #{user.username}
        |&nbsp;
        a(href='/logout') (logout)
    else
      div.header-item
        a(href=`/login`) login

